.slider_wrapp {
display: flex;
width: 100%;
justify-content: center;
margin-bottom: 30px;
/* border: 1px solid black; */
}
.slider {
display: flex;
justify-content: center;
align-items: center;
width: 90%;
height: 400px;
border: 1px solid black;
}
